<div class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar fs-4">
        <div class="container-fluid">Artist Search</div>
      </nav>  
  </header>
  <main>
    <app-artist-search-form ></app-artist-search-form>
    <app-artist-result-list></app-artist-result-list>
    <app-artist-details-tabs></app-artist-details-tabs>
  </main>
  <footer>
    <nav class="navbar footer fixed-bottom justify-content-center pt-0 pb-2 fs-6">
        <a class="text-white text-decoration-none" href="https://www.artsy.net/" target="_blank" rel="noopener">
          <sub>
            Powered by <img class="artsy-icon" src="assets/artsy_logo.svg" width="15" height="15"/>Artsy.
          </sub>
        </a>
    </nav>
  </footer>
</div>