body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

form {
    position: absolute;
    left: 175px;
    top: 170px;
    height: 458px;
    width: 345px;
    padding: 45px 45px 0 50px;
    background-color: rgb(28, 60, 91);
    color: white;
}

form button {
    display: block;
    background: none;
	border: none;
    height: 45px;
    width: 175px;
	cursor: pointer;
    background-color: rgb(245, 222, 48);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

input {
    margin: 7% 0 7% 0;
    height: 55px;
    width: 330px;
    padding: 0 0 0 10px;
}

input::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 500;
    opacity: 1; 
}

#feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding: 150px 0 150px 0;
}

#form-container {
    position: relative;
    display: inline-block;
}

#main-container {
    max-width: max-content;
}

#msg1 {
    font-size: 15px; 
    font-weight: 300px;
}

#msg2 {
    line-height: 1em; 
    font-size: 41px; 
    font-weight: 400;
}

#msg3 {
    color:rgb(245, 222, 48);
    font-size: 14px; 
    font-style: italic; 
    font-weight: 600; 
}

article.feature {
    display: inline-block;
    line-height: 1.5em;
    font-weight: 500;
}

.feature-title {
    font-size: 18px;
}

.feature-description {
    color: gray;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
}

nav.menu {
    padding: 45px 0 45px 0;
}

p.menu-heading {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 200px;
    font-size: 17px;
    font-weight: 500;
}

ol.menu-buttons {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 1070px;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 500;
}

li.menu-button {
    float: left;
    padding: 0 0 0 25px;
}

li.menu-button a {
    display: block;
    text-decoration: none;
    color: rgb(214, 214, 214);
}
